.box{
    box-sizing: border-box;
}
#a {
    background-color: aqua;
    height: 100px;
    width: 100px;
    padding: 10px;
    border: 3px solid;
    margin: 50px auto;

}
#b {
    color: aliceblue;
    background-color: black;
    height: 100px;
    width: 100px;
    margin-top: 30px;
}
#c {
    background-color: brown;
    height: 100px;
    width: 100px;
}
#d{ 
    background-color: blueviolet;
    height: 100px;
    width: 100px;
}